body {
  background-color: lightblue;
}

.landmark-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}

#select-landmark{
  width: 100%;
  margin-bottom: 15px;
}

a-scene {
  display: flex;
  justify-items: center;
  align-items: center;
  
}

#preview-gltf {
  display: flex;
  height: 15rem;
  width: 15rem;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.button-wrapper {
  display: flex;
  gap: 3rem;
  margin: 1em;
}

#img-input {
  background-color: white;
}