body {
  background-color: #AFECE0;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 1em;
}